/* IvyMode - Light */
@font-face {
  font-family: "IvyMode";
  src: url("fonts/IvyMode_Light.otf") format("opentype");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #3c5e39;
  font-family: "Aileron", sans-serif;
  font-weight: 400;
  background-color: #f2f6ef;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.aboutus-company {
  background-color: #f2f6ef;
}
.aboutus-company .container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
.aboutus-company .aboutus-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 80px;
  gap: 96px;
}
@media only screen and (max-width: 558px) {
  .aboutus-company .aboutus-wrapper {
    padding: 96px 16px;
    gap: 32px;
  }
}
.aboutus-company .aboutus {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 26px;
}
@media only screen and (max-width: 992px) {
  .aboutus-company .aboutus {
    flex-wrap: wrap;
  }
}
.aboutus-company .aboutus .headline {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.aboutus-company .aboutus .headline__title {
  font-size: 28px;
  color: #899f87;
  width: 100%;
  max-width: 616px;
}
@media only screen and (max-width: 558px) {
  .aboutus-company .aboutus .headline__title {
    font-size: 24px;
  }
}
.aboutus-company .aboutus .headline__subtitle {
  font-size: 56px;
  color: #213721;
  width: 100%;
  max-width: 566px;
}
@media only screen and (max-width: 558px) {
  .aboutus-company .aboutus .headline__subtitle {
    font-size: 40px;
  }
}
.aboutus-company .aboutus__description {
  display: flex;
  flex-direction: column;
  gap: 28px;
  width: 100%;
  max-width: 638px;
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #3c5e39;
}
.aboutus-company .separator {
  width: 100%;
  max-width: 1280px;
  border: 1px solid #c8d8c0;
  margin: 0 auto;
}
.aboutus-company .asseenis {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
  max-width: 1280px;
}
.aboutus-company .asseenis__title {
  font-weight: 300;
  font-size: 28px;
  line-height: 110%;
  color: #c8d8c0;
}
.aboutus-company .asseenis__company {
  display: flex;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media only screen and (max-width: 1200px) {
  .aboutus-company .asseenis__company {
    gap: 20px;
  }
}
@media only screen and (max-width: 1200px) {
  .aboutus-company .asseenis__company .company--image {
    width: 150px;
  }
}

.all-products {
  padding: 96px 80px;
  background-color: #f2f6ef;
}
.all-products .container {
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 768px) {
  .all-products .container {
    height: auto;
  }
}
.all-products__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 89px;
  max-width: 1440px;
  width: 100%;
}
@media only screen and (max-width: 992px) {
  .all-products__wrapper {
    flex-wrap: wrap;
  }
}
.all-products__left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 40px;
  width: 100%;
  max-width: 532px;
  height: 613px;
}
@media only screen and (max-width: 768px) {
  .all-products__left {
    height: 100%;
    max-height: fit-content;
  }
}
.all-products .headline {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.all-products .headline-title {
  font-family: "Aileron", sans-serif;
  font-size: 28px;
  font-weight: 300;
  color: #899f87;
}
.all-products .headline-subtitle {
  font-family: "IvyMode", sans-serif;
  font-size: 56px;
  font-weight: 300;
  color: #213721;
}
.all-products .listing-categories {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 532px;
  height: 392px;
}
@media only screen and (max-width: 768px) {
  .all-products .listing-categories {
    height: 100%;
    max-height: fit-content;
  }
}
.all-products .listing-categories__row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 16px;
  flex-wrap: wrap;
}
@media only screen and (max-width: 768px) {
  .all-products .listing-categories .list-row_sm {
    display: none;
  }
}
.all-products__right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 42px;
  width: 100%;
  max-width: 650px;
  height: 1098px;
}
.all-products .product-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
}
@media only screen and (max-width: 768px) {
  .all-products .product-row {
    flex-wrap: wrap;
  }
}
.all-products .product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  flex: 0 0 auto;
  width: 100%;
  max-width: 305px;
  min-width: 305px;
  height: 481px;
  border: 1px solid #c8d8c0;
}
.all-products .product__image {
  width: 305px;
  height: 320px;
}
.all-products .product__desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 10px;
  width: 305px;
  height: 161px;
  border-top: 1px solid #c8d8c0;
}
.all-products .product__title {
  font-family: "Aileron", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 140%;
  color: #213721;
}
.all-products .product__price {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #213721;
}
.all-products .rating2 {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
}
.all-products .ratings_number {
  font-family: "Aileron", sans-serif;
  font-weight: 300;
  font-size: 22px;
  line-height: 140%;
  color: #3c5e39;
}
.all-products .shop-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  gap: 10px;
  max-width: max-content;
  height: 52px;
  border: 1px solid #213721;
  text-decoration: none;
}
.all-products .shop-cta__text {
  color: #213721;
  line-height: 140%;
}
.all-products .shop-cta__icon {
  width: 30.11px;
  height: 18.47px;
}

@media screen and (max-width: 1350px) {
  .all-products {
    padding: 64px 40px;
  }
  .all-products__wrapper {
    gap: 48px;
  }
  .all-products__right {
    gap: 32px;
    max-width: 540px;
    height: auto;
  }
  .all-products .product-row {
    gap: 24px;
  }
  .all-products .product-card {
    max-width: 240px;
    min-width: 240px;
    height: auto;
  }
  .all-products .product__image {
    width: 240px;
    height: auto;
  }
  .all-products .product__desc {
    width: 240px;
    padding: 16px;
  }
  .all-products .product__title,
  .all-products .product__price,
  .all-products .ratings_number {
    font-size: 18px;
  }
  .all-products .rating2 {
    gap: 8px;
  }
  .all-products .shop-cta {
    padding: 0 24px;
    height: 44px;
  }
  .all-products .shop-cta__icon {
    width: 24px;
    height: auto;
  }
  .all-products .shop-cta__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1200px) {
  .all-products {
    padding-top: 60px;
  }
  .all-products__wrapper {
    gap: 2px;
  }
  .all-products__left {
    gap: 32px;
    width: 100%;
    max-width: 500px;
    height: 613px;
  }
  .all-products .headline {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  .all-products .headline-title {
    font-size: 20px;
    font-weight: 300;
  }
  .all-products .headline-subtitle {
    font-size: 48px;
    font-weight: 300;
  }
  .all-products .listing-categories {
    gap: 12px;
    width: 100%;
    height: 392px;
  }
  .all-products .listing-categories__row {
    gap: 6px;
  }
  .all-products__right {
    gap: 24px;
    max-width: 540px;
    height: auto;
  }
  .all-products .product-row {
    gap: 24px;
  }
  .all-products .product-card {
    max-width: 200px;
    min-width: 200px;
    height: 350px;
  }
  .all-products .product__image {
    width: 200px;
    height: auto;
  }
  .all-products .product__desc {
    width: 200px;
    padding: 16px;
  }
  .all-products .product__title,
  .all-products .product__price,
  .all-products .ratings_number {
    font-size: 18px;
  }
  .all-products .rating2 {
    gap: 8px;
  }
  .all-products .shop-cta {
    padding: 0 24px;
    height: 44px;
  }
  .all-products .shop-cta__icon {
    width: 24px;
    height: auto;
  }
  .all-products .shop-cta__text {
    font-size: 16px;
  }
}
@media only screen and (max-width: 992px) {
  .all-products {
    padding: 96px 80px;
  }
  .all-products__wrapper {
    gap: 40px;
    max-width: 1440px;
    width: 100%;
  }
  .all-products__left {
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 532px;
    height: 613px;
  }
  .all-products .headline {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .all-products .headline-title {
    font-size: 28px;
    font-weight: 300;
  }
  .all-products .headline-subtitle {
    font-size: 56px;
    font-weight: 300;
  }
  .all-products .listing-categories {
    gap: 16px;
  }
  .all-products .listing-categories__row {
    gap: 16px;
    flex-wrap: wrap;
  }
  .all-products__right {
    align-items: center;
    gap: 42px;
    width: 100%;
    max-width: 650px;
    height: auto;
  }
  .all-products .product-row {
    gap: 40px;
  }
  .all-products .product-card {
    width: 100%;
    max-width: 305px;
    min-width: 305px;
    height: 481px;
    margin: 0 auto;
    border: 1px solid #c8d8c0;
  }
  .all-products .product__image {
    width: 305px;
    height: 320px;
  }
  .all-products .product__desc {
    padding: 24px;
    gap: 10px;
    width: 305px;
    height: 161px;
    border-top: 1px solid #c8d8c0;
  }
  .all-products .product__title {
    font-size: 22px;
  }
  .all-products .product__price {
    font-weight: 700;
    font-size: 22px;
  }
  .all-products .rating2 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
  }
  .all-products .ratings_number {
    font-weight: 300;
    font-size: 22px;
  }
}
.cta {
  background: #899f87;
  padding: 40px 80px;
}
@media only screen and (max-width: 558px) {
  .cta {
    padding: 32px 16px;
  }
}
.cta .container {
  width: 100%;
}
.cta__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 558px) {
  .cta__wrapper {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 24px;
  }
}
.cta__title {
  font-size: 40px;
  font-weight: 300;
  color: #f2f6ef;
  font-family: "IvyMode", sans-serif;
}
@media only screen and (max-width: 992px) {
  .cta__title {
    width: 70%;
  }
}
@media only screen and (max-width: 558px) {
  .cta__title {
    font-size: 32px;
    width: 100%;
  }
}
.cta__icon {
  width: 65.99px;
  height: 40.1px;
}

.cta02-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 92px;
  max-width: 1440px;
  width: 100%;
  padding: 96px 80px;
  margin: 0 auto;
  box-sizing: border-box;
}

.cta02 {
  width: 100%;
  background-color: #f2f6ef;
}
.cta02__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
  flex: 1 1 300px;
  max-width: 303.33px;
  min-width: 260px;
  height: 242px;
  box-sizing: border-box;
}
.cta02 .head-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
  width: max-content;
  height: 68px;
}

.cta02__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: #899f87;
}

.shop-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
  gap: 10px;
  max-width: max-content;
  height: 52px;
  border: 1px solid #213721;
  text-decoration: none;
}
.shop-cta__text {
  color: #213721;
}

.cta02__separator {
  flex: 0 0 1px;
  height: 88px;
  background: #d9d9d9;
}

@media (max-width: 1200px) {
  .cta02-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 64px 24px;
  }
  .cta02__item {
    flex: 1 1 280px;
    max-width: 320px;
    min-width: 200px;
    height: auto;
  }
  .cta02__separator {
    display: none;
  }
}
.newsletter-cta {
  background: #899f87;
  padding: 40px 80px;
}
@media only screen and (max-width: 558px) {
  .newsletter-cta {
    padding: 40px 16px;
  }
}
.newsletter-cta .container {
  width: 100%;
}
.newsletter-cta__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1200px) {
  .newsletter-cta__wrapper {
    flex-wrap: wrap;
  }
}
.newsletter-cta__title {
  font-size: 56px;
  color: #f2f6ef;
  width: max-content;
}
@media (max-width: 1200px) {
  .newsletter-cta__title {
    font-size: 64px;
  }
}
@media only screen and (max-width: 992px) {
  .newsletter-cta__title {
    font-size: 56px;
  }
}
@media only screen and (max-width: 558px) {
  .newsletter-cta__title {
    font-size: 40px;
  }
}
.newsletter-cta__form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  max-width: 537px;
  height: 72px;
  color: #899f87;
}
@media only screen and (max-width: 558px) {
  .newsletter-cta__form {
    max-width: 255px;
  }
}
.newsletter-cta__input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 24px;
  gap: 10px;
  width: 450px;
  height: 72px;
  background: #ffffff;
  border: 1px solid #c8d8c0;
  font-size: 20px;
  letter-spacing: 1%;
}
@media only screen and (max-width: 558px) {
  .newsletter-cta__input {
    padding: 0px;
    padding-left: 4px;
  }
}
.newsletter-cta__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  width: 87.84px;
  height: 72px;
  background: #ffffff;
  border-width: 1px 1px 1px 0px;
  border-style: solid;
  border-color: #c8d8c0;
}
.newsletter-cta__button .arrow-cta {
  width: 47.84px;
  height: 29px;
}

.testimonials {
  background-color: #f2f6ef;
  border-bottom: 1px solid #c8d8c0;
}
.testimonials .container {
  width: 100%;
  padding-inline: 80px;
}
@media only screen and (max-width: 558px) {
  .testimonials .container {
    padding: 64px 16px;
  }
}
.testimonials__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  height: 677px;
  gap: 10px;
}
@media only screen and (max-width: 992px) {
  .testimonials__wrapper {
    padding-top: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .testimonials__wrapper {
    flex-direction: column;
    height: auto;
  }
}
@media only screen and (max-width: 558px) {
  .testimonials__wrapper {
    gap: 48px;
  }
}
.testimonials__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 80px;
  width: 100%;
  max-width: 794px;
}
@media only screen and (max-width: 1200px) {
  .testimonials__content {
    gap: 40px;
  }
}
@media only screen and (max-width: 558px) {
  .testimonials__content {
    gap: 32px;
  }
}
.testimonials__content--title {
  color: #899f87;
}
@media only screen and (max-width: 558px) {
  .testimonials__content--title {
    font-size: 24px;
  }
}
.testimonials__content--text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}
@media only screen and (max-width: 1200px) {
  .testimonials__content--text {
    gap: 22px;
  }
}
.testimonials__text {
  width: 100%;
  max-width: 740px;
  padding-right: 28.89px;
}
@media only screen and (max-width: 1200px) {
  .testimonials__text {
    font-size: 32px;
    font-weight: 400;
  }
}
.testimonials__rating {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 14px;
  width: 246px;
  height: 38px;
}
.testimonials__rating .starsvg {
  width: 38px;
  height: 38px;
}
@media only screen and (max-width: 1200px) {
  .testimonials__rating .starsvg {
    width: 28px;
    height: 28px;
  }
}
.testimonials__author {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 2%;
  color: #c7d1c6;
  font-style: italic;
}
@media only screen and (max-width: 1200px) {
  .testimonials .testi_product {
    width: 450px;
    height: auto;
  }
}
@media only screen and (max-width: 558px) {
  .testimonials .testi_product {
    max-width: 343px;
  }
}
.testimonials__slider {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding-top: 32px;
}
@media only screen and (max-width: 992px) {
  .testimonials__slider {
    flex-direction: row;
    height: auto;
    padding-top: 2px;
    padding-bottom: 24px;
  }
}
.testimonials__slider .arrow {
  width: 24px;
  height: 14px;
  flex-shrink: 0;
}
@media only screen and (max-width: 992px) {
  .testimonials__slider .arrow {
    transform: rotate(180deg);
  }
}
.testimonials__slider .arrow--left {
  transform: rotate(180deg);
}
@media only screen and (max-width: 992px) {
  .testimonials__slider .arrow--left {
    transform: rotate(360deg);
  }
}
.testimonials__slider .dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media only screen and (max-width: 992px) {
  .testimonials__slider .dot {
    flex-direction: row;
    height: auto;
    gap: 10px;
  }
}
.testimonials__slider .dot span {
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #213721;
}
@media only screen and (max-width: 992px) {
  .testimonials__slider .dot span {
    width: 8px;
    height: 8px;
  }
}
@media only screen and (max-width: 558px) {
  .testimonials__slider .dot span {
    width: 4px;
    height: 4px;
  }
}

.featured {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #f2f6ef;
}
.featured__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 96px 0px 56px;
  margin: 0 auto;
  gap: 16px;
  width: 100%;
  border-top: 1px solid #c8d8c0;
}
.featured__subtitle {
  color: #899f87;
}
@media only screen and (max-width: 558px) {
  .featured__subtitle {
    font-size: 24px;
  }
}
.featured__title {
  text-align: center;
  font-size: 56px;
  text-align: center;
}
@media only screen and (max-width: 768px) {
  .featured__title {
    padding: 0 48px;
  }
}
@media only screen and (max-width: 558px) {
  .featured__title {
    font-size: 32px;
  }
}
.featured__products {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  border-width: 1px 0px;
  border-style: solid;
  border-color: #c8d8c0;
  z-index: 1;
}
.featured__products .product-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  width: 480px;
}
.featured__products .product-card__desc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 75px;
  width: 416px;
  height: fit-content;
}
.featured__products .desc--nameprice {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 109px;
  height: fit-content;
}
.featured__products .product-card__name {
  font-size: 28px;
  line-height: 110%;
}
.featured__products .product-card__image {
  align-self: center;
}
.featured__products .product-card__image img {
  width: 472px;
}
.featured__products .product-card__price {
  font-weight: 700;
  font-size: 22px;
  line-height: 140%;
  color: #213721;
}
.featured__products .rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;
}
.featured__products .rating .product-rating__stars {
  gap: 4px;
}
.featured__products .rating .product-rating__stars .star img {
  width: 20px;
  height: 20px;
}
.featured__products .rating .product-rating__rating {
  font-family: "Aileron", sans-serif;
  font-weight: 300;
  size: 22px;
  line-height: 140%;
  color: #3c5e39;
}
.featured__products .product-card__image {
  align-self: center;
}
.featured__products .product-card-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px;
  gap: 24px;
  width: 480px;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #c8d8c0;
}
@media only screen and (max-width: 992px) {
  .featured__products .product-card-2 {
    padding-top: 24px;
    border-width: 0px 0px 0px 1px;
  }
}

@media (max-width: 1440px) {
  .featured__products {
    justify-content: center;
  }
  .featured__products .product-card,
  .featured__products .product-card-2 {
    width: 380px;
    height: auto;
  }
  .featured__products .product-card__desc {
    width: 100%;
    gap: 40px;
  }
  .featured__products .product-card__image {
    align-self: center;
  }
  .featured__products .product-card__image img {
    width: 380px;
  }
  .featured__products .rating {
    gap: 8px;
  }
  .featured__products .rating .product-rating__stars .star img {
    width: 22px;
    height: 22px;
  }
  .featured__products .rating .product-rating__rating {
    font-size: 22px;
  }
}
@media (max-width: 1200px) {
  .featured__products {
    justify-content: center;
  }
  .featured__products .product-card,
  .featured__products .product-card-2 {
    width: 300px;
    height: auto;
  }
  .featured__products .product-card__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    gap: 24px;
  }
  .featured__products .product-card__desc .desc--nameprice {
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
  }
  .featured__products .product-card__desc .product-card__price {
    font-size: 26px;
  }
  .featured__products .product-card__desc .rating {
    align-self: flex-start;
    width: 100%;
    gap: 12px;
  }
  .featured__products .product-card__desc .rating .product-rating__stars .star img {
    width: 22px;
    height: 22px;
  }
  .featured__products .product-card__desc .rating .product-rating__rating {
    font-size: 22px;
  }
  .featured__products .product-card__image {
    align-self: center;
  }
  .featured__products .product-card__image img {
    width: 300px;
  }
}
@media only screen and (max-width: 768px) {
  .featured__products .product-card,
  .featured__products .product-card-2 {
    width: 480px;
  }
  .featured__products .product-card__desc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 75px;
    width: 416px;
    height: fit-content;
  }
  .featured__products .product-card__desc .desc--nameprice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 109px;
    height: fit-content;
  }
  .featured__products .product-card__desc .product-card__price {
    font-size: 22px;
  }
  .featured__products .product-card__desc .rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-self: flex-end;
    gap: 12px;
  }
  .featured__products .product-card__desc .rating .product-rating__stars {
    display: flex;
    gap: 4px;
  }
  .featured__products .product-card__desc .rating .product-rating__stars .star img {
    width: 20px;
    height: 20px;
  }
  .featured__products .product-card__desc .rating .product-rating__rating {
    font-family: "Aileron", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1;
    color: #3c5e39;
  }
  .featured__products .product-card__image {
    align-self: center;
  }
  .featured__products .product-card__image img {
    width: 472px;
  }
  .featured__products .product-card-2 {
    border-width: 1px 0px;
    padding: 32px;
  }
}
@media only screen and (max-width: 558px) {
  .featured__products .product-card,
  .featured__products .product-card-2 {
    width: 100%;
    max-width: 375px;
    padding: 20px;
  }
  .featured__products .product-card__desc {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    max-width: 375px;
  }
  .featured__products .product-card__desc .desc--nameprice {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 109px;
    height: fit-content;
  }
  .featured__products .product-card__desc .product-card__price {
    font-size: 22px;
  }
  .featured__products .product-card__desc .product-card__name {
    font-size: 24px;
  }
  .featured__products .product-card__desc .rating {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-self: flex-end;
    gap: 12px;
  }
  .featured__products .product-card__desc .rating .product-rating__stars {
    display: flex;
    gap: 4px;
  }
  .featured__products .product-card__desc .rating .product-rating__stars .star img {
    width: 20px;
    height: 20px;
  }
  .featured__products .product-card__desc .rating .product-rating__rating {
    font-family: "Aileron", sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 1;
    color: #3c5e39;
  }
  .featured__products .product-card__image {
    align-self: center;
  }
  .featured__products .product-card__image img {
    width: 335px;
  }
  .featured__products .product-card-2 {
    border-width: 1px 0px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  background: #f2f6ef;
}
.footer .container {
  width: 100%;
  max-width: 1440px;
}
.footer__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__logo {
  width: 176px;
}
@media screen and (max-width: 1024px) {
  .footer__logo {
    width: 160px;
  }
}
.footer__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: auto;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .footer__top {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .footer__top {
    flex-wrap: wrap;
    justify-content: center;
    height: auto;
  }
}
.footer__column {
  flex: 1 1 360px;
  max-width: 100%;
  height: 468px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 56px 40px;
  gap: 24px;
  background: #f2f6ef;
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: #c8d8c0;
}
@media screen and (max-width: 1024px) {
  .footer__column {
    padding: 56px 0;
  }
}
@media screen and (max-width: 768px) {
  .footer__column {
    padding: 32px 40px;
    height: fit-content;
    border-top: 1px solid #c8d8c0;
  }
}
.footer__column--heading {
  color: #899f87;
}
.footer__column--menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font-size: 22px;
  text-align: center;
  text-decoration: none;
  list-style: none;
}
.footer__column--menu a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 1024px) {
  .footer__column--menu {
    font-size: 16px;
  }
}
.footer__brand {
  flex: 1 1 323px;
  max-width: 100%;
  height: 468px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 0px 0px;
  gap: 136px;
  background: #f2f6ef;
}
@media screen and (max-width: 1024px) {
  .footer__brand {
    gap: 96px;
  }
}
@media screen and (max-width: 768px) {
  .footer__brand {
    height: auto;
    gap: 64px;
    padding: 32px 40px;
  }
}
.footer__brand--item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 52px;
}
.footer__brand .opening-headline {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__brand .opening-headline__subtitle {
  font-size: 20px;
  color: #c7d1c6;
}
@media screen and (max-width: 1024px) {
  .footer__brand .opening-headline__subtitle {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .footer__brand .opening-headline__subtitle {
    font-size: 20px;
  }
}
.footer__brand .opening-headline__hours {
  font-size: 22px;
  color: #3c5e39;
}
@media screen and (max-width: 1024px) {
  .footer__brand .opening-headline__hours {
    font-size: 16px;
  }
}
@media screen and (max-width: 768px) {
  .footer__brand .opening-headline__hours {
    font-size: 22px;
  }
}
.footer__socials {
  display: flex;
  flex-direction: row;
  gap: 18px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  width: 190px;
  height: 301px;
}
.footer__credit {
  display: flex;
  flex-direction: row;
  padding: 10px 0px;
  gap: 35px;
  width: 37px;
  transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
  .footer__credit {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: auto;
    transform: none;
    gap: 8px;
    padding: 20px 0;
    width: 100%;
  }
}
.footer__credit--items-1 {
  font-size: 12px;
  padding-left: 133px;
  flex: none;
}
@media screen and (max-width: 1024px) {
  .footer__credit--items-1 {
    padding-left: 115px;
  }
}
@media screen and (max-width: 768px) {
  .footer__credit--items-1 {
    padding: 0;
    text-align: center;
  }
}
.footer__credit--items-2 {
  font-size: 12px;
  padding-right: 133px;
  flex: none;
}
@media screen and (max-width: 768px) {
  .footer__credit--items-2 {
    padding: 0;
    text-align: center;
  }
}
.footer__bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  height: 65px;
  background: #f2f6ef;
  border-top: 1px solid #c8d8c0;
}
@media screen and (max-width: 768px) {
  .footer__bottom {
    flex-direction: column;
    gap: 32px;
    height: auto;
    padding: 32px 16px;
  }
}
.footer__bottom a {
  text-decoration: none;
  color: #101c10;
}
.footer__links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 40px;
  font-size: 18px;
  color: #213721;
  list-style: none;
  width: 261px;
}
.footer__links a {
  text-decoration: none;
  color: inherit;
}

.hero {
  background-color: #899f87;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/hero-bg.jpg");
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: right top;
}
@media only screen and (max-width: 1024px) {
  .hero {
    background-size: cover;
    background-position: 50vw;
  }
}
@media only screen and (max-width: 992px) {
  .hero {
    background-size: cover;
    background-position: right;
  }
}
.hero .container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
.hero .hero-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: -84px;
  height: 733px;
  position: relative;
  flex-wrap: wrap;
}
@media only screen and (max-width: 992px) {
  .hero__content {
    flex-direction: row;
  }
}
.hero__content .hero__product {
  position: absolute;
  height: 780.36px;
  top: 48.54px;
  left: 107.31px;
  z-index: 2;
}
@media only screen and (max-width: 1024px) {
  .hero__content .hero__product {
    left: 20px;
  }
}
@media only screen and (max-width: 992px) {
  .hero__content .hero__product {
    left: -60px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content .hero__product {
    position: relative;
    order: 1;
    height: auto;
    left: unset;
    top: unset;
  }
}
@media only screen and (max-width: 558px) {
  .hero__content .hero__product {
    width: 100%;
    max-width: 178px;
  }
}
.hero__content .hero__headline {
  max-width: 100%;
  height: 357px;
  position: absolute;
  top: 146px;
  left: 544px;
  font-size: 100px;
  color: #f2f6ef;
}
@media only screen and (max-width: 1200px) {
  .hero__content .hero__headline {
    font-size: 90px;
  }
}
@media only screen and (max-width: 1100px) {
  .hero__content .hero__headline {
    font-size: 80px;
  }
}
@media only screen and (max-width: 1024px) {
  .hero__content .hero__headline {
    font-size: 75px;
    left: 420px;
    max-width: 550px;
  }
}
@media only screen and (max-width: 992px) {
  .hero__content .hero__headline {
    left: 330px;
    width: 50%;
    text-align: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content .hero__headline {
    position: relative;
    font-size: 72px;
    line-height: 1.2;
    text-align: center;
    width: 120%;
    height: auto;
    top: unset;
    left: unset;
  }
}
@media only screen and (max-width: 558px) {
  .hero__content .hero__headline {
    font-size: 48px;
    width: 100%;
    max-width: max-content;
  }
}
.hero__content .hero__button {
  position: absolute;
  width: 100%;
  max-width: 356px;
  left: 547px;
  top: 592.5px;
}
@media only screen and (max-width: 1024px) {
  .hero__content .hero__button {
    left: 420px;
  }
}
@media only screen and (max-width: 992px) {
  .hero__content .hero__button {
    left: 330px;
  }
}
@media only screen and (max-width: 768px) {
  .hero__content .hero__button {
    position: relative;
    text-align: center;
    left: unset;
    top: unset;
  }
}
@media only screen and (max-width: 558px) {
  .hero__content .hero__button {
    width: 100%;
    max-width: 192px;
  }
}
.hero .slider {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  height: 131.58px;
  width: 30.11px;
  top: 292px;
  left: 68px;
}
@media only screen and (max-width: 992px) {
  .hero .slider {
    left: 50vw;
    top: 56vh;
  }
}
@media only screen and (max-width: 768px) {
  .hero .slider {
    position: relative;
    flex-direction: row;
    top: unset;
    left: unset;
    order: 2;
  }
}
.hero .slider .arrow {
  width: 30.11px;
  height: 18.47px;
}
@media only screen and (max-width: 992px) {
  .hero .slider .arrow {
    display: none;
  }
}
@media only screen and (max-width: 768px) {
  .hero .slider .arrow {
    display: none;
  }
}
.hero .slider .dot {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}
@media only screen and (max-width: 992px) {
  .hero .slider .dot {
    flex-direction: row;
  }
}
@media only screen and (max-width: 768px) {
  .hero .slider .dot {
    flex-direction: row;
    gap: 8px;
  }
}
.hero .slider .dot span {
  width: 4px;
  height: 4px;
  transform: rotate(45deg);
  background-color: #e4ece0;
}
@media only screen and (max-width: 768px) {
  .hero .slider .dot span {
    width: 6px;
    height: 6px;
  }
}
.hero .slider .dot .dot1 {
  background-color: #3c5e39 !important;
}
@media only screen and (max-width: 768px) {
  .hero__content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    gap: 16px;
    margin-top: 30px;
  }
}

.ingredients {
  background-image: linear-gradient(#e4ece0);
  background-size: 50vw auto;
  background-repeat: no-repeat;
  background-position: right top;
}
@media only screen and (max-width: 992px) {
  .ingredients {
    background-image: none;
  }
}
.ingredients .container {
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;
}
.ingredients .ingredients-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media only screen and (max-width: 992px) {
  .ingredients .ingredients-wrapper {
    display: flex;
    flex-direction: column;
  }
}
.ingredients__left {
  position: relative;
  height: 589px;
}
.ingredients__left .ingredients__image {
  display: flex;
  flex-direction: row;
  justify-self: center;
  position: absolute;
  width: 577.23px;
  height: 350.42px;
  top: 292px;
  z-index: 9;
}
@media only screen and (max-width: 992px) {
  .ingredients__left .ingredients__image {
    width: 890px;
  }
}
.ingredients__left .ingredients__headline {
  color: #213721;
  font-size: 56px;
  display: flex;
  flex-direction: row;
  justify-self: center;
  padding-top: 87px;
}
@media only screen and (max-width: 1024px) {
  .ingredients__left .ingredients__headline {
    padding-left: 30px;
  }
}
.ingredients__right {
  position: relative;
  display: grid;
  grid-template-rows: repeat(3, 95px);
  grid-template-columns: 604px;
  padding: 96px 70px 96px 56px;
  gap: 56px;
}
@media only screen and (max-width: 992px) {
  .ingredients__right {
    background-image: linear-gradient(#e4ece0);
  }
}
@media only screen and (max-width: 558px) {
  .ingredients__right {
    gap: 20px;
  }
}
.ingredients__right .ingredients__feature {
  display: flex;
  align-items: center;
  gap: 24px;
}
.ingredients__right .ingredients__feature .feature__icon {
  flex-shrink: 0;
}
@media only screen and (max-width: 768px) {
  .ingredients__right .ingredients__feature .feature__icon {
    width: 96px;
  }
}
@media only screen and (max-width: 558px) {
  .ingredients__right .ingredients__feature .feature__icon {
    width: 75px;
  }
}
.ingredients__right .ingredients__feature .feature__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.ingredients__right .ingredients__feature .feature__text .feature__title {
  color: #213721;
  font-weight: 300;
  line-height: 110%;
  font-size: 28px;
}
@media only screen and (max-width: 1100px) {
  .ingredients__right .ingredients__feature .feature__text .feature__title {
    font-size: 24px;
  }
}
@media only screen and (max-width: 992px) {
  .ingredients__right .ingredients__feature .feature__text .feature__title {
    font-size: 28px;
  }
}
@media only screen and (max-width: 768px) {
  .ingredients__right .ingredients__feature .feature__text .feature__title {
    font-size: 32px;
  }
}
@media only screen and (max-width: 558px) {
  .ingredients__right .ingredients__feature .feature__text .feature__title {
    font-size: 24px;
  }
}
.ingredients__right .ingredients__feature .feature__text .feature__desc {
  color: #3c5e39;
  font-weight: 300;
  line-height: 140%;
  font-size: 20px;
}
@media only screen and (max-width: 1100px) {
  .ingredients__right .ingredients__feature .feature__text .feature__desc {
    font-size: 16px;
  }
}
@media only screen and (max-width: 992px) {
  .ingredients__right .ingredients__feature .feature__text .feature__desc {
    font-size: 20px;
  }
}
@media only screen and (max-width: 768px) {
  .ingredients__right .ingredients__feature .feature__text .feature__desc {
    font-size: 24px;
  }
}
@media only screen and (max-width: 558px) {
  .ingredients__right .ingredients__feature .feature__text .feature__desc {
    font-size: 20px;
  }
}
@media only screen and (max-width: 1350px) {
  .ingredients .ingredients-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .ingredients__left .ingredients__image {
    width: 560px;
    height: auto;
    top: 190px;
  }
  .ingredients__left .ingredients__headline {
    font-size: 45px;
  }
  .ingredients__right {
    grid-template-columns: 1fr;
    padding: 64px 40px;
    gap: 32px;
  }
  .ingredients__right .feature__title {
    font-size: 22px;
  }
  .ingredients__right .feature__desc {
    font-size: 16px;
  }
}
@media only screen and (max-width: 1200px) {
  .ingredients .ingredients-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .ingredients__left .ingredients__image {
    width: 500px;
    height: auto;
    top: 250px;
  }
  .ingredients__left .ingredients__headline {
    font-size: 45px;
    width: 500px;
  }
  .ingredients__right {
    grid-template-columns: 1fr;
    padding: 64px 40px;
    gap: 32px;
  }
  .ingredients__right .feature__title {
    font-size: 22px;
  }
  .ingredients__right .feature__desc {
    font-size: 16px;
  }
}
@media only screen and (max-width: 768px) {
  .ingredients__left {
    display: flex;
    flex-direction: column;
    height: max-content;
  }
  .ingredients__left .ingredients__headline {
    padding: 72px 40px 56px 40px;
    font-size: 80px;
    text-align: left;
    position: relative;
    width: 100%;
    max-width: 650px;
  }
  .ingredients__left .ingredients__image {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
    top: unset;
    left: unset;
    order: 1;
  }
  .ingredients__right {
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 32px 16px;
  }
  .ingredients__right .ingredients__feature {
    flex-direction: column;
    align-items: start;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
  }
}
@media only screen and (max-width: 558px) {
  .ingredients .ingredients__headline {
    font-size: 40px;
  }
  .ingredients .ingredients__image {
    width: 100%;
    max-width: 375px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  width: 100%;
  z-index: 1000;
}
@media screen and (max-width: 768px) {
  .nav {
    padding: 16px;
  }
}
.nav__logo {
  height: 44px;
  width: 137px;
}
.nav .nav__menu {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  width: 595px;
}
@media screen and (max-width: 768px) {
  .nav .nav__menu {
    justify-content: flex-end;
    gap: 20px;
    width: auto;
    align-items: center;
  }
}

.nav__menu--1,
.nav__menu--2 {
  display: flex;
  list-style: none;
  gap: 48px;
  margin: 0;
  padding: 0;
}

.menu__items {
  color: #f2f6ef;
  font-family: "Aileron", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 140%;
  font-style: normal;
}

/* SEMBUNYIKAN HAMBURGER DI VIEW BESAR */
.hamburger {
  display: none;
}

/* RESPONSIVE UNTUK bp-small */
@media (max-width: 768px) {
  .hide-sm {
    display: none;
  }
  .show-sm {
    display: inline-block;
  }
  .hamburger {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    background-color: #f2f6ef;
    border-radius: 50%;
    box-sizing: border-box;
    cursor: pointer;
    padding: 8px;
  }
  .hamburger::before,
  .hamburger::after {
    content: "";
    position: absolute;
    left: 6px;
    right: 6px;
    height: 2px;
    background-color: #213721;
    border-radius: 2px;
    transition: all 0.3s ease;
  }
  .hamburger::before {
    top: 0;
    transform: translateY(5px);
    display: none;
  }
  .hamburger::after {
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 -5px 0 0 #213721, 0 5px 0 0 #213721;
  }
}
.try-service {
  background-color: #f2f6ef;
  border-top: 1px solid #c8d8c0;
  border-bottom: 1px solid #c8d8c0;
  padding: 96px 0;
}
.try-service .container {
  max-width: 1440px;
  height: auto;
  margin: 0 auto;
  box-sizing: border-box;
}
.try-service__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 181px;
  padding: 0 80px;
}
@media only screen and (max-width: 992px) {
  .try-service__wrapper {
    flex-direction: column;
  }
}
.try-service__image {
  flex-shrink: 0;
  order: 0;
  width: 348px;
  height: auto;
}
.try-service__image img {
  width: 100%;
  height: auto;
  display: block;
}
.try-service__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  max-width: 600px;
  order: 1;
}
.try-service__content--headline {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.try-service__content--pretitle {
  font-size: 28px;
  font-weight: 300;
  color: #899f87;
}
.try-service__content--title {
  font-size: 56px;
  font-weight: 300;
  color: #213721;
}
.try-service__content--subtitle {
  font-size: 20px;
  font-weight: 300;
  color: #3c5e39;
}
.try-service__content .shop-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 0px 32px;
  gap: 10px;
  max-width: max-content;
  height: 52px;
  border: 1px solid #213721;
  text-decoration: none;
}
.try-service__content .shop-cta__text {
  color: #213721;
}

h1 {
  font-family: "IvyMode", sans-serif;
  font-weight: 300;
  font-style: light;
  line-height: 110%;
}

h2 {
  font-family: "IvyMode", sans-serif;
  font-weight: 300;
  font-style: light;
  line-height: 120%;
  letter-spacing: 1%;
}

h3 {
  font-family: "IvyMode", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 120%;
  letter-spacing: 0.04em;
  color: #213721;
}

h5 {
  font-family: "IvyMode", sans-serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 120%;
  color: #213721;
}

h6 {
  font-family: Aileron;
  font-weight: 300;
  font-style: Light;
  font-size: 28px;
  line-height: 110%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: #f2f6ef;
  color: #213721;
  border: none;
  border-radius: 0;
  font-family: "Aileron", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 140%;
  padding: 20px 32px;
  cursor: pointer;
  transition: all 0.5s;
}
.btn:hover {
  background-color: #c7d1c6;
}
@media only screen and (max-width: 558px) {
  .btn {
    font-size: 16px;
  }
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  gap: 10px;
  width: max-content;
  height: 52px;
  border: 1px solid #c8d8c0;
  border-radius: 40px;
  background-color: #f2f6ef;
}

.active-btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 26px;
  gap: 10px;
  width: max-content;
  height: 52px;
  border: 1px solid #c8d8c0;
  border-radius: 40px;
  background-color: #e4ece0;
}

/*# sourceMappingURL=style.css.map */
