.aboutus-company {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 96px 80px;
  gap: 96px;

  background-color: $content-color-light-1;

  .aboutus {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 26px;

    .headline {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__title {
        font-size: 28px;
        color: $content-color-light-3;
        width: 100%;
        max-width: 616px;
      }

      &__subtitle {
        font-size: 56px;
        color: $content-color-dark-2;

        width: 100%;
        max-width: 566px;
      }
    }

    &__description {
      display: flex;
      flex-direction: column;
      gap: 28px;
      width: 100%;
      max-width: 638px;

      font-weight: 300;
      font-size: 20px;
      line-height: 140%;
      color: $content-color-dark-1;
    }
  }

  .separator {
    width: 100%;
    max-width: 1280px;
    border: 1px solid $color-primary;
  }

  .asseenis {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 40px;

    &__title {
      font-weight: 300;
      font-size: 28px;
      line-height: 110%;
      color: $color-primary;
    }

    &__company {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0px;
      width: 1280px;
    }
  }
}
