.cta {
  background: $content-color-light-3;
  padding: 40px 80px;

  @media only screen and (max-width: $bp-smallest) {
    padding: 32px 16px;
  }

  .container {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      gap: 24px;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 300;
    color: $content-color-light-1;
    font-family: $font-primary;

    @media only screen and (max-width: $bp-medium) {
      width: 70%;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 32px;
      width: 100%;
    }
  }

  &__icon {
    width: 65.99px;
    height: 40.1px;
  }
}

.cta02-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 92px;

  max-width: 1440px;
  width: 100%;
  padding: 96px 80px;
  margin: 0 auto;
  box-sizing: border-box;
}

.cta02 {
  width: 100%;
  background-color: $content-color-light-1;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    flex: 1 1 300px;
    max-width: 303.33px;
    min-width: 260px;
    height: 242px;
    box-sizing: border-box;
  }

  .head-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    width: max-content;
    height: 68px;
  }
}

.cta02__subtitle {
  font-weight: 300;
  font-size: 20px;
  line-height: 140%;
  color: $content-color-light-3;
}

.shop-cta {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  padding: 15px 32px;
  gap: 10px;

  max-width: max-content;
  height: 52px;
  border: 1px solid $content-color-dark-2;
  text-decoration: none;

  &__text {
    color: $content-color-dark-2;
  }
}

.cta02__separator {
  flex: 0 0 1px;
  height: 88px;
  background: #d9d9d9;
}

@media (max-width: $bp-largest) {
  .cta02-wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 64px 24px;
  }

  .cta02__item {
    flex: 1 1 280px;
    max-width: 320px;
    min-width: 200px;
    height: auto;
  }

  .cta02__separator {
    display: none;
  }
}

.newsletter-cta {
  background: $content-color-light-3;
  padding: 40px 80px;

  @media only screen and (max-width: $bp-smallest) {
    padding: 40px 16px;
  }

  .container {
    width: 100%;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 24px;
    @media (max-width: $bp-largest) {
      flex-wrap: wrap;
    }
  }

  &__title {
    font-size: 56px;
    color: $content-color-light-1;
    width: max-content;

    @media (max-width: $bp-largest) {
      font-size: 64px;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 56px;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 40px;
    }
  }

  &__form {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 537px;
    height: 72px;
    color: $content-color-light-3;

    @media only screen and (max-width: $bp-smallest) {
      max-width: 255px;
    }
  }

  &__input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 24px;
    gap: 10px;

    width: 450px;
    height: 72px;

    background: #ffffff;
    border: 1px solid $color-primary;

    font-size: 20px;
    letter-spacing: 1%;

    @media only screen and (max-width: $bp-smallest) {
      padding: 0px;
      padding-left: 4px;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;

    width: 87.84px;
    height: 72px;

    background: #ffffff;
    border-width: 1px 1px 1px 0px;
    border-style: solid;
    border-color: $color-primary;

    .arrow-cta {
      width: 47.84px;
      height: 29px;
    }
  }
}
