.testimonials {
  background-color: $content-color-light-1;
  border-bottom: 1px solid $color-primary;

  .container {
    width: 100%;
    padding-inline: 80px;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    width: 100%;
    height: 677px;
    gap: 10px;

    @media only screen and (max-width: $bp-medium) {
      padding-top: 24px;
    }

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
      height: auto;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;

    width: 100%;
    max-width: 794px;

    @media only screen and (max-width: $bp-largest) {
      gap: 40px;
    }

    &--title {
      color: $content-color-light-3;
    }

    &--text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;

      @media only screen and (max-width: $bp-largest) {
        gap: 22px;
      }
    }
  }

  &__text {
    width: 100%;
    max-width: 740px;
    padding-right: 28.89px;

    @media only screen and (max-width: $bp-largest) {
      font-size: 30px;
    }
  }

  &__rating {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0px;
    gap: 14px;

    width: 246px;
    height: 38px;

    .starsvg {
      width: 38px;
      height: 38px;

      @media only screen and (max-width: $bp-largest) {
        width: 28px;
        height: 28px;
      }
    }
  }

  &__author {
    font-weight: 300;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 2%;
    color: $content-color-light-2;
    font-style: italic;
  }

  .testi_product {
    @media only screen and (max-width: $bp-largest) {
      width: 450px;
      height: auto;
    }
  }

  &__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-top: 32px;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: row;
      height: auto;
      padding-top: 2px;
      padding-bottom: 24px;
    }

    .arrow {
      width: 24px;
      height: 14px;
      flex-shrink: 0;

      @media only screen and (max-width: $bp-medium) {
        transform: rotate(180deg);
      }

      &--left {
        transform: rotate(180deg);
        @media only screen and (max-width: $bp-medium) {
          transform: rotate(360deg);
        }
      }
    }

    .dot {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      @media only screen and (max-width: $bp-medium) {
        flex-direction: row;
        height: auto;

        gap: 10px;
      }
    }

    .dot span {
      width: 4px;
      height: 4px;
      transform: rotate(45deg);
      background-color: $content-color-dark-2;

      @media only screen and (max-width: $bp-medium) {
        width: 8px;
        height: 8px;
      }
    }
  }
}
