.hero {
  background-color: $content-color-light-3;
  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/hero-bg.jpg");
  background-size: 50vw;
  background-repeat: no-repeat;
  background-position: right top;

  @media only screen and (max-width: $bp-large) {
    background-size: cover;
    background-position: 50vw;
  }

  @media only screen and (max-width: $bp-medium) {
    background-size: cover;
    background-position: right;
  }

  .container {
    max-width: map-get($container-max-widths, xxl);
    margin: 0 auto;
    box-sizing: border-box;
  }

  .hero-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: -84px;
    height: 734px;
    position: relative;
    flex-wrap: wrap;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: row;
    }

    .hero__product {
      position: absolute;
      height: 780.36px;
      top: 48.54px;
      left: 107.31px;
      z-index: 2;

      @media only screen and (max-width: $bp-large) {
        left: 20px;
      }

      @media only screen and (max-width: $bp-medium) {
        left: -60px;
      }

      @media only screen and (max-width: $bp-small) {
        position: relative;
        order: 1;
        height: auto;
        left: unset;
        top: unset;
      }

      @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        max-width: 178px;
      }
    }

    .hero__headline {
      max-width: 100%;
      height: 357px;
      position: absolute;
      top: 146px;
      left: 544px;

      font-size: 108px;
      color: $content-color-light-1;

      @media only screen and (max-width: $bp-largest) {
        font-size: 90px;
      }

      @media only screen and (max-width: 1100px) {
        font-size: 80px;
      }

      @media only screen and (max-width: $bp-large) {
        font-size: 75px;
        left: 420px;
        max-width: 550px;
      }

      @media only screen and (max-width: $bp-medium) {
        left: 330px;
        width: 50%;
        text-align: none;
      }

      @media only screen and (max-width: $bp-small) {
        position: relative;
        font-size: 72px;
        line-height: 1.2;
        text-align: center;
        width: 120%;
        height: auto;
        top: unset;
        left: unset;
      }

      @media only screen and (max-width: $bp-smallest) {
        font-size: 48px;
        width: 100%;
        max-width: max-content;

        padding-bottom: 16px;
        padding-top: 28px;
      }
    }

    .hero__button {
      position: absolute;
      width: 100%;
      max-width: 356px;
      left: 547px;
      top: 592.5px;

      @media only screen and (max-width: $bp-large) {
        left: 420px;
      }

      @media only screen and (max-width: $bp-medium) {
        left: 330px;
      }

      @media only screen and (max-width: $bp-small) {
        position: relative;
        text-align: center;
        left: unset;
        top: unset;
      }

      @media only screen and (max-width: $bp-smallest) {
        width: 100%;
        max-width: 192px;
        height: 52px;
      }
    }
  }

  .slider {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    height: 131.58px;
    width: 30.11px;
    top: 292px;
    left: 68px;

    @media only screen and (max-width: $bp-medium) {
      left: 50vw;
      top: 56vh;
    }

    @media only screen and (max-width: $bp-small) {
      position: relative;
      flex-direction: row;
      top: unset;
      left: unset;
      order: 2;

      height: fit-content;
      padding-bottom: 32px;
    }

    .arrow {
      width: 30.11px;
      height: 18.47px;

      @media only screen and (max-width: $bp-medium) {
        display: none;
      }

      @media only screen and (max-width: $bp-small) {
        display: none;
      }
    }

    .dot {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      @media only screen and (max-width: $bp-medium) {
        flex-direction: row;
      }

      @media only screen and (max-width: $bp-small) {
        flex-direction: row;
        gap: 8px;
      }

      span {
        width: 4px;
        height: 4px;
        transform: rotate(45deg);
        background-color: $color-primary-light;

        @media only screen and (max-width: $bp-small) {
          width: 6px;
          height: 6px;
        }
      }

      .dot1 {
        background-color: $content-color-dark-1 !important;
      }
    }
  }

  @media only screen and (max-width: $bp-small) {
    &__content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto;
      gap: 16px;
      margin-top: 0px;
    }
  }

  @media only screen and (max-width: $bp-smallest) {
    &__content {
      height: 744px;
    }
  }
}
