.try-service {
  background-color: $content-color-light-1;
  border-top: 1px solid $color-primary;
  border-bottom: 1px solid $color-primary;
  padding: 96px 0;

  @media only screen and (max-width: $bp-medium) {
    padding: 96px 0;
  }
  @media only screen and (max-width: $bp-smallest) {
    padding: 0;
  }

  .container {
    max-width: map-get($container-max-widths, xxl);
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 181px;
    padding: 0 80px;

    @media only screen and (max-width: $bp-medium) {
      flex-direction: column;
    }

    @media only screen and (max-width: $bp-smallest) {
      padding: 64px 16px;
      gap: 48px;
    }
  }

  &__image {
    flex-shrink: 0;
    order: 0;
    width: 348px;
    height: auto;

    img {
      width: 100%;
      height: auto;
      display: block;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 32px;
    max-width: 600px;
    order: 1;

    &--headline {
      display: flex;
      flex-direction: column;
      gap: 16px;
    }

    &--pretitle {
      font-size: 28px;
      font-weight: 300;
      color: $content-color-light-3;

      @media only screen and (max-width: $bp-smallest) {
        font-size: 24px;
      }
    }

    &--title {
      font-size: 56px;
      font-weight: 300;
      color: $content-color-dark-2;

      @media only screen and (max-width: $bp-smallest) {
        font-size: 38px;
      }
    }

    &--subtitle {
      font-size: 20px;
      font-weight: 300;
      color: $content-color-dark-1;
    }

    .hide-text {
      @media only screen and (max-width: $bp-smallest) {
        display: none;
      }
    }

    .shop-cta {
      position: relative;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      padding: 0px 32px;
      gap: 10px;

      max-width: max-content;
      height: 52px;
      border: 1px solid $content-color-dark-2;
      text-decoration: none;
      overflow: hidden;
      z-index: 1;

      * {
        position: relative;
        z-index: 2;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background-color: $color-primary;
        transform: scaleY(0);
        transform-origin: top;
        transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,
          background-color 0.1s;
        z-index: 0;
      }

      &:hover::before,
      &--active::before {
        transform: scaleY(1);
        width: 100%;
      }

      &:active::before {
        background-color: $color-primary-light;
      }
    }
  }
}
