$color-primary: #c8d8c0;
$color-primary-light: #e4ece0;

$color-primary-dark-1: #496839;
$color-primary-dark-2: #213721;
$color-primary-dark-3: #101c10;

$content-color-light-1: #f2f6ef;
$content-color-light-2: hsl(115, 11%, 80%);
$content-color-light-3: #899f87;

$content-color-dark-1: #3c5e39;
$content-color-dark-2: #213721;
$content-color-dark-3: #617C5F;

$content-color-light-4: #738c71; 

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1200px,
  xxl: 1440px,
);

$bp-largest: 1200px;
$bp-large: 1024px;
$bp-medium: 992px;
$bp-small: 768px;
$bp-smallest: 577px;
$bp-mobilelarge: 425px;
$bp-mobile: 375px;

$font-secondary: "Aileron", sans-serif;
$font-primary: "IvyMode", sans-serif;

/* IvyMode - Light */
@font-face {
  font-family: "IvyMode";
  src: url("fonts/IvyMode_Light.woff2") format("woff2");  
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  ::selection {
  background: $color-primary;
}

}

body {
  color: $content-color-dark-1;
  font-family: $font-secondary;
  font-weight: 400;
  background-color: $content-color-light-1;

  a {
    text-decoration: none;
    color: inherit;
  }
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}
