.aboutus {
  .container {
    max-width: map-get($container-max-widths, xxl);
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;

      .content__velvety {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 96px 80px 48px;
        gap: 36px;

        @media screen and (max-width: $bp-largest) {
          padding: 64px 32px 48px;
        }

        @media screen and (max-width: $bp-small) {
          padding: 64px 80px 48px;
        }

        @media screen and (max-width: $bp-smallest) {
          padding: 64px 32px 48px;
        }

        @media screen and (max-width: $bp-mobilelarge) {
          padding: 64px 16px 48px;
        }

        .velvety__headline {
          display: flex;
          flex-direction: column;
          gap: 16px;

          &-title {
            font-size: 28px;
            color: $content-color-light-4;
            line-height: 110.00000000000001%;

            @media screen and (max-width: $bp-mobilelarge) {
              font-size: 24px;
              line-height: 26px;
            }
          }

          &-sub {
            font-size: 56px;
            color: $content-color-dark-2;
            line-height: 120%;

            @media screen and (max-width: $bp-mobilelarge) {
              font-size: 40px;
            }
          }
        }

        .velvety__main {
          display: flex;
          flex-direction: row;
          gap: 64px;
          align-items: center;

          @media screen and (max-width: $bp-largest) {
            gap: 48px;
          }

          @media screen and (max-width: $bp-small) {
            display: flex;
            flex-direction: column;
          }

          &-ilustration {
            width: clamp(343px, 39.72vw, 572px);
          }

          .velety__main-container {
            display: flex;
            flex-direction: column;
            gap: 40px;

            @media screen and (max-width: $bp-largest) {
              gap: 16px;
            }

            @media screen and (max-width: $bp-mobilelarge) {
              gap: 32px;
            }

            .container__text {
              font-family: $font-secondary;
              font-size: 20px;
              font-weight: 300;
              line-height: 140%;
              color: $content-color-dark-1;
            }

            .container__quote {
              display: flex;
              flex-direction: column;
              gap: 16px;

              &-main {
                color: $color-primary-dark-1;

                @media screen and (max-width: $bp-largest) {
                  font-size: 32px;
                  line-height: 38.4px;
                  letter-spacing: 1.5px;
                }
                
                @media screen and (max-width: $bp-mobilelarge) {
                  height: 342px;
                }
              }

              &-sub {
                font-family: $font-secondary;
                font-size: 20px;
                font-style: italic;
                line-height: 140%;
                color: $content-color-light-3;
              }
            }
          }
        }
      }

      .missionandvision {
        display: flex;
        flex-direction: row;
        padding: 0 80px;

        @media screen and (max-width: $bp-largest) {
          padding: 0 32px;
        }

        @media screen and (max-width: $bp-small) {
          display: flex;
          flex-direction: column;
          padding: 0 80px;
        }

        @media screen and (max-width: $bp-smallest) {
          padding: 0 32px;
        }

        @media screen and (max-width: $bp-mobilelarge) {
          padding: 0px 16px;
        }

        box-shadow: inset 0 1px 0 0 #c8d8c0, /* top */ inset 0 -1px 0 0 #c8d8c0; /* bottom */

        .mission {
          display: flex;
          flex-direction: column;
          gap: 16px;

          padding: 48px 56px 48px 0;

          @media screen and (max-width: $bp-small) {
            padding: 48px 0;
          }

          &-icon {
            width: 48px;
          }

          &-title {
            font-family: $font-primary;
            font-size: 40px;
            font-weight: 300;
            line-height: 120%;

            @media screen and (max-width: $bp-mobilelarge) {
              font-size: 32px;
              line-height: 38px;
            }
          }

          &-subtitle {
            font-family: $font-secondary;
            font-size: 20px;
            font-weight: 300;
            line-height: 140%;
          }
        }

        .sparation_misivisi {
          flex: 0 0 1px;
          height: 308px;
          background: $color-primary;
          align-self: center;

          @media screen and (max-width: $bp-small) {
            width: 343px;
          }
        }

        .vision {
          display: flex;
          flex-direction: column;
          gap: 16px;

          padding: 48px 0 48px 56px;

          @media screen and (max-width: $bp-small) {
            padding: 48px 0;
          }

          &-icon {
            width: 48px;
          }

          &-title {
            font-family: $font-primary;
            font-size: 40px;
            font-weight: 300;
            line-height: 120%;

            @media screen and (max-width: $bp-mobilelarge) {
              font-size: 32px;
              line-height: 38px;
            }
          }

          &-subtitle {
            font-family: $font-secondary;
            font-size: 20px;
            font-weight: 300;
            line-height: 140%;
          }
        }
      }
    }
  }
}
