.blogs {
  .container {
    max-width: map-get($container-max-widths, xxl);
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__wrapper {
    padding: 96px 80px;

    @media screen and (max-width: $bp-smallest) {
      padding: 64px 32px;
    }

    @media screen and (max-width: $bp-mobilelarge) {
      padding: 64px 16px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 48px;

    .blogs__content-headline {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .headline__title {
        display: flex;
        flex-direction: column;
        gap: 16px;

        &-main {
          font-size: 28px;
          font-weight: 300;
          line-height: 110%;
          color: $content-color-light-3;

          @media screen and (max-width: $bp-mobilelarge) {
            font-size: 24px;
          }
        }

        &-sub {
          font-size: 56px;
          line-height: 120%;
          letter-spacing: 1%;

          color: $content-color-dark-2;

          @media screen and (max-width: $bp-mobilelarge) {
            font-size: 40px;
          }
        }
      }

      .slider__title-navigation {
        display: flex;
        flex-direction: row;
        gap: 32px;
        align-items: flex-end;

        @media screen and (max-width: $bp-mobilelarge) {
          display: none;
        }
      }
    }

    .blogs__content-row {
      display: flex;
      flex-direction: row;
      gap: 32px;
      width: 104%;
      max-width: 1328px;
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }

      @media screen and (max-width: $bp-mobilelarge) {
        gap: 24px;
      }

      .row__card {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 308px;
        gap: 24px;
        transition: all 0.8s;
        z-index: 1000;

        @media screen and (max-width: $bp-mobilelarge) {
          max-width: 280px;
        }

        &:hover {
          box-shadow: 8px 0px 24px rgba(0, 0, 0, 0.1);
        }

        &-desc {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .desc-date {
            font-size: 16px;
            font-weight: 400;
            line-height: 140%;

            color: $content-color-light-3;
          }

          .desc-title {
            font-size: 30px;
            line-height: 120%;
            font-weight: 300;
            color: $content-color-dark-2;
          }

          .desc-sub {
            font-size: 18px;
            font-weight: 400;
            line-height: 140%;
            height: 100%;
            max-height: 50px;

            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;

            color: $content-color-dark-3;
          }
        }

        &-button {
          display: flex;
          flex-direction: row;
          gap: 8px;
          align-items: center;

          .button_title {
            font-size: 16px;
            line-height: 140%;
            font-weight: 600;
            color: $content-color-dark-2;
          }

          .arrow-rightrow {
            width: 19.55px;
          }
        }
      }
    }

    .blogs__content-button {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 10px;

      width: 100%;
      height: 52px;
      max-width: 229.11px;

      border: 1px solid $content-color-dark-2;

      font-size: 16px;
      color: $content-color-dark-2;

      transition: all 0.3s;

      &:hover {
        background-color: $content-color-light-2;
      }
    }
  }
}
