.value {
  background-color: $content-color-light-3;

  .container {
    max-width: map-get($container-max-widths, xxl);
    margin: 0 auto;
    box-sizing: border-box;
  }

  &__wrapper {
    position: relative;
  }

  &__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    @media screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    padding: 56px 80px;
    gap: 64px;

    @media screen and (max-width: $bp-smallest) {
      padding: 56px 32px;
    }

    @media screen and (max-width: $bp-mobilelarge) {
      padding: 56px 16px;
      gap: 32px;
    }

    .value__item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 24px;

      &-desc {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 131px;
        max-height: 131px;

        @media screen and (max-width: $bp-mobilelarge) {
          height: unset;
          max-height: none;
        }

        gap: 16px;

        .desc__main {
          font-size: 28px;
          font-weight: 300;
          line-height: 110.00000000000001%;
          color: $content-color-light-1;

          @media screen and (max-width: $bp-mobilelarge) {
            font-size: 24px;
            line-height: 26px;
          }
        }

        .desc__sub {
          font-size: 20px;
          font-weight: 300;
          line-height: 140%;
          text-align: center;

          color: $color-primary-light;

          @media screen and (max-width: $bp-small) {
            width: 100%;
            max-width: 343px;
          }
        }
      }
    }

    .sparation {
      flex: 0 0 1px;
      height: 88px;
      background: $color-primary;
      align-self: center;

      @media screen and (max-width: $bp-small) {
        width: 343px;
      }
    }
  }
}
